@mixin underline{
	position: relative;

	&:after{
		content: "";
		position: absolute;
		width: 100%;
		height: 1px;
		bottom: -3px;
		left: 0;
		background-color: $light-gray;
		transition: all 0.3s;
	}
	&:hover:after{
		opacity: 0;
	}
}

@mixin red_underline{
	position: relative;

	&:before{
		content: "";
		position: absolute;
		width: 0%;
		height: 3px;
		bottom: -5px;
		left: 50%;
		margin: auto;
		background-color: $red-primary;
		transition: all 0.3s;
	}
	&:hover:before{
		width: 100%;
		left: 0%;
	}
}


@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fullcoverelement{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}