.owl-carousel.top_slider_theme,
.owl-stage-outer,
.owl-stage,
.owl-item,
.item
{
	width: 100%;
	height: 100%;

}

.owl-carousel.top_slider_theme{
	z-index: -1;

	.owl-item .item{
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		.bannerinfo{
			z-index: 1;
			@include centerer;
			padding: 45px;
			max-width: 540px;
			max-height: 400px;
			color: #fff;
			overflow: hidden;
			
			background-color: $dark-glass;
	
			@media(max-height: 800px){
				&{
					top: calc(50% + 80px);
				}
			}
			@media(max-height: 650px){
				&{
					padding: 5px 35px;
					max-width: calc(100% - 80px);
				}
			}
			@media(max-height: 580px){
				&{
					display: none;
				}
			}

			h2{
				// font-size: 25px;
				font-size: $font-size-h3;
				text-transform: uppercase;
				opacity: 0.67;
				font-family: $font-family-roboto;
				margin: 0;
			}
			a{	
				display: block;
				// margin: 25px 0;
				margin: 0.4em 0;
				// font-size: 39px;
				font-size: $font-size-h2;
				font-family: $font-family-roboto;
				font-weight: 600;
				color: #fff;
				text-transform: uppercase;
				text-decoration: underline;
			}
			p{
				font-size: $font-size-medium;
			}
		}
	}

	.owl-nav{
		z-index: 0;
		
		@include centerer;

		height: 0;

		width: 100%;
		max-width: 980px;
		
		div{
			&.owl-prev{float:left;}
			&.owl-next{float:right;}
			width: 40px;
			height: 90px;
			margin-top: -40px;
			background-color: $dark-glass;
			text-align: center;
			color: #fff;
			font-size: 35px;
			font-family: monospace;
			padding: 20px 0;
			cursor: pointer;
			transition: all 0.4s;

			@media (max-width: 720px){
				&{
					display: none;
				}	
			} 	

			&:hover{
				background-color: rgba($dark-glass, 0.8)
			}			
		}

		@media(max-height: 800px){
			&{
				top: calc(50% + 80px);
			}
		}
		@media(max-height: 580px){
			&{
				display: none;
			}
		}
	}

	.owl-dots{
		position: absolute;
		bottom: calc(20% - 100px);
		left: 50%;
		transform: translate(-50%, 0%);
		// @include centerer;
		// bottom: 20px;

		// background-color: #f00;

		.owl-dot{
			width: 10px;
			height: 10px;
			background-color: #fff;
			opacity: 0.36;
			border-radius: 50%;
			margin: 5px;
			display: inline-block;
			
			transition: all 0.7s;

			&.active{
				opacity: 1;
				background-color: $red-primary;
			}
		}
	}
}



// для слайдов проектов внизу

.owl-carousel.projects_slider_theme{
	.item{
		background-size: cover;
		min-height: 600px;
		overflow: hidden;

		.container{
			color: #fff;
			font-size: $font-size-medium;
			padding-top: 125px;
			padding-bottom: 110px;


			@media (max-width: 720px){
				&{
					padding-bottom: 50px;
					padding-top: 50px;
				}	
			} 	

			.owl-header{
				display: block;
				.owl-controls{
					display: inline-block;
					div{
						transition: all 0.4s;
						display: inline-block;
						width: 40px;
						height: 40px;
						background-color: $red-primary;
						font-family: monospace;
						font-size: 40px;
						line-height: 40px;
						text-align: center;
						margin: 0 10px;
						&:hover{
							background-color: darken($red-primary, 10);
						}
					}
				}
				span{
					display: inline-block;
					font-size: $font-size-medium;
					line-height: 40px;
					vertical-align: top;
				}
			}
			
			h1{

				@media (max-width: 720px){
					&{
						font-size: $font-size-h2;
						text-align: center;
					}	
				} 	

				text-transform: uppercase;
				text-decoration: underline;
				font-family: $font-family-roboto;
				font-weight: 500 !important;
				line-height: ceil($font-size-large *3) !important;
				margin: 30px 0;
			}
		}
	}

}